@import "./assets/styles/color-mappings";

:root {
  font-family: Pompiere, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: white;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: $color-text-link;
  text-decoration: inherit;

  &:hover {
    color: $color-text-link-hover;
  }
}

body {
  margin: 0;
  color: $color-text;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}
